# This rosd service configuration file should be copied to:
#
#  /lib/systemd/system/
#
# After copying the file you'll need to reload all daemons:
#
#  % sudo systemctl daemon-reload
#
# See: https://medium.com/@Tankado95/how-to-run-a-python-code-as-a-service-using-systemctl-4f6ad1835bf2
#
# Copyright 2020 by Murray Altheim. All rights reserved. This file is part of
# the Robot Operating System project and is released under the "Apache Licence, 
# Version 2.0". Please see the LICENSE file included as part of this package.
#
# author:   Murray Altheim
# created:  2020-08-01
# modified: 2020-08-01
#
# ..............................................................................

[Unit]
Description=ROS Daemon Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/ros
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/ros/ros.d/rosd.py &> /dev/null
Restart=always

[Install]
WantedBy=multi-user.target
