<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controller</title>
    <link rel="icon" href="style/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="style/jquery-ui.css">
    <link rel="stylesheet" href="style/main.css">
    <style>
    </style>
    <script src="script/jquery-1.12.4.min.js"></script>
    <script src="script/jquery-ui.min.js"></script>
    <script src="script/main.js"></script>
    <script>
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="wrapped">
        <h1>Robot Remote Control</h1>
        <table id="page-table">
          <tr>
            <td><!-- speed table ....................................................... -->
              <table id="speed-table">
                <tr>
                  <td width="50%" align="center"><label for="port-info">Port</label></td>
                  <td></td>
                  <td width="50%" align="center"><label for="starboard-info">Starboard</label></td>
                </tr>
                <tr>
                  <td align="center"><span id="port-info"></span>%</td>
                  <td></td>
                  <td align="center"><span id="starboard-info"></span>%</td>
                </tr>
                <tr>
                  <td align="center">
                    <div id="port-slider" class="ui-slider ui-slider-vertical" style="height:150px;">
                      <div id="port-handle" class="ui-slider-handle"></div>
                    </div>
                  </td>
                  <td></td>
                  <td align="center">
                    <div id="starboard-slider" class="ui-slider ui-slider-vertical" style="height:150px;">
                      <div id="starboard-handle" class="ui-slider-handle"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <label for="bind-handles">Bind</label>
                    <input type="checkbox" id="bind-handles"/>
                  </td>
                </tr>
                <tr>
                  <td align="left"><span id="port-speed">_</span></td>
                  <td>
                    <button id="zero" align="right" style="6px" class="zbtn ui-button ui-widget ui-corner-all">zero</button>
                  </td>
                  <td align="right"><span id="starboard-speed">_</span></td>
                </tr>
              </table>
            </td>
            <td><!-- navigation table .................................................. -->
              <table id="navigation-table">
                <tr>
                  <td><button id="turn_ahead_stbd" class="nbtn ui-button ui-widget ui-corner-all">turn ahead starboard</button></td>
                  <td><button id="ahead" class="nbtn ui-button ui-widget ui-corner-all">ahead</button></td>
                  <td><button id="turn_ahead_port" class="nbtn ui-button ui-widget ui-corner-all">turn ahead port</button></td>
                </tr>
                <tr>
                  <td><button id="spin_port" class="nbtn ui-button ui-widget ui-corner-all">spin<br />port</button></td>
                  <td><button id="brake" class="nbtn ui-button ui-widget ui-corner-all">brake</button></td>
                  <td><button id="spin_stbd" class="nbtn ui-button ui-widget ui-corner-all">spin<br />starboard</button></td>
                </tr>
                <tr>
                  <td><button id="turn_astern_port" class="nbtn ui-button ui-widget ui-corner-all">1</button></td>
                  <td><button id="astern" class="nbtn ui-button ui-widget ui-corner-all">astern</button></td>
                  <td><button id="turn_astern_stbd" class="nbtn ui-button ui-widget ui-corner-all">3</button></td>
                </tr>
                <tr>
                  <td align="center" colspan="3"><button id="halt" class="nbtn ui-button ui-widget ui-corner-all">halt</button></td>
                </tr>
                <tr>
                  <td align="center" colspan="3"><button id="stop" class="nbtn ui-button ui-widget ui-corner-all">stop</button></td>
                </tr>
              </table>
            </td>

            <td><!-- sensor table .................................................. -->
              <table id="sensor-table">
                <tr>
                  <td><button id="infrared_port" class="nbtn ui-button ui-widget ui-corner-all">infrared port</button></td>
                  <td><button id="infrared_center" class="nbtn ui-button ui-widget ui-corner-all">infrared center</button></td>
                  <td><button id="infrared_stbd" class="nbtn ui-button ui-widget ui-corner-all">infrared starboard</button></td>
                </tr>
                <tr>
                  <td><button id="bumper_port" class="nbtn ui-button ui-widget ui-corner-all">bumper port</button></td>
                  <td><button id="bumper_center" class="nbtn ui-button ui-widget ui-corner-all">bumper center</button></td>
                  <td><button id="bumper_stbd" class="nbtn ui-button ui-widget ui-corner-all">bumper starboard</button></td>
                </tr>
                <tr>
                  <td><button id="standby" class="nbtn ui-button ui-widget ui-corner-all">standby</button></td>
                  <td><button id="battery_low" class="nbtn ui-button ui-widget ui-corner-all">battery&nbsp;low</button></td>
                  <td><button id="shutdown" class="nbtn ui-button ui-widget ui-corner-all">shutdown</button></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><button id="roam" class="nbtn ui-button ui-widget ui-corner-all">roam</button></td>
                  <td align="center"><button id="button" class="nbtn ui-button ui-widget ui-corner-all">red<br />button</button></td>
                </tr>
              </table>
            </td>

          </tr>
        </table>
        <table id="current-state-table">
        </table>
      </div>
    </div>
  </body>
</html>
